extends layout

block content
  .container
    header
      form
        label(for='artists-menu') Artist:
        select#artists-menu.selectpicker(ng-init='artist = "#{artists[0]}"', ng-model='artist', ng-change='getVideos()')
          each artist in artists
            option(value='#{artist}') #{artist}
    .playlist(ng-init='newVideos = #{JSON.stringify(videos)}')
      include videoPreview
