doctype html
html(ng-app='playlist')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap-select/dist/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='mainController')
    block content
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/bootstrap-select/dist/js/bootstrap-select.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/javascripts/playlist-module.js')
