//
   Created by Xuan on 3/5/16.

block content
  .container
    .row
      .col-md-7
        embed(src='#{video.flash}', allowFullScreen='true', quality='high', width='720', height='600', align='middle', type='application/x-shockwave-flash')
      .col-md-5
        .dl.dl-horizontal
          dt NAME
          dd= video.title
          dt Director
          dd= video.director
          dt Description
          dd= video.desc
