.thumbnail
  a(class='video', href='https://www.yahoo.com/music/music-video-premiere-see-voice-champ-jordan-164816681.html')
    img(class='screenshot', src='http://www.dropmark.com/assets/playlist.jpg')
  .caption
    p.title #{item.title}
    p.source #{item.title}