body {
  padding: 50px 0;
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  margin: 10px 0;
}
.form-group label {
  margin: 0 10px 0 0;
  font-weight: 400;
}


/*@media screen and (max-width: 767px) {*/
  /*#artists-menu {*/
    /*width: 100%;*/
  /*}*/
/*}*/

