body {
  padding: 50px 0;
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  margin: 10px 0;
}
form label {
  margin: 0 10px 0 0;
  font-weight: 400;
}

.playlist {
  -webkit-column-width:20vw;
  -moz-column-width:20vw;
  -webkit-column-gap:5px;
  -moz-column-gap:5px;

}
.thumbnail {
  /*width:160px;*/
  margin:4px 0;
  -webkit-column-break-inside: avoid;
}

/*@media screen and (max-width: 767px) {*/
  /*#artists-menu {*/
    /*width: 100%;*/
  /*}*/
/*}*/

